html,
body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Fira Sans', sans-serif;
}

.home {
    background: #C5E8DC
        /* linear-gradient(360deg, #97ADE8 0%, #e8b0a2 100%); */
        /* url('../../assets/mosaic.jpg') */
    ;
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.nav {
    position: absolute;
    background-color: #E8B0A2;
    width: 100%;
    height: 200px;
    text-decoration: none;
}

.links {
    margin-top: 60px;
}

.links li {
    display: inline-block;
    margin-left: 30px;
}

.links a {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    padding: 5px 7px 7px 7px;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: all ease-in-out .2s;
    border-radius: 17px;
    background: linear-gradient(145deg, #f8bcad, #d19e92);
    box-shadow: 10px 10px 20px #d3a093,
        -10px -10px 20px #fdc0b1;
}

.links a:hover {
    border-radius: 17px;
    background: linear-gradient(145deg, #d19e92, #f8bcad);
    box-shadow: 10px 10px 20px #d3a093,
        -10px -10px 20px #fdc0b1;
    ;
}

.links a:active {
    border-radius: 17px;
    background: #E8B0A2;
    box-shadow: inset 10px 10px 20px #d3a093,
        inset -10px -10px 20px #fdc0b1;
}

.ordFilter {
    display: inline-block;
    margin: 30px 0 0 60px;
}

.rightNav {
    float: right;
    margin: 30px 40px 0 0;
}

.search {
    display: inline-block;
    margin-left: 15px;
}

.searchInput {
    outline: none;
    color: #ffff;
    padding: 5px;
    border: none;
    border-radius: 17px;
    background: #E8B0A2;
    box-shadow: inset 10px 10px 20px #d3a093,
        inset -10px -10px 20px #fdc0b1;
}

.searchInput::placeholder {
    color: #ffff;
    opacity: 1;
}

.searchBtn {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    padding: 5px;
    margin-left: 15px;
    color: #ffff;
    border: none;
    transition: all ease-in-out .2s;
    border-radius: 17px;
    background: linear-gradient(145deg, #f8bcad, #d19e92);
    box-shadow: 10px 10px 20px #d3a093,
        -10px -10px 20px #fdc0b1;
}

.searchBtn:hover {
    border-radius: 17px;
    background: linear-gradient(145deg, #d19e92, #f8bcad);
    box-shadow: 10px 10px 20px #d3a093,
        -10px -10px 20px #fdc0b1;
    ;
}

.searchBtn:active {
    border-radius: 17px;
    background: #E8B0A2;
    box-shadow: inset 10px 10px 20px #d3a093,
        inset -10px -10px 20px #fdc0b1;
}

.homeRnd {
    display: inline-block;
}

.wrap1,
.wrap2 {
    display: inline-block;
    margin-left: 10px;
}

.wrap2 select {
    outline: none;
    color: #ffff;
    padding: 5px;
    transition: all ease-in-out .2s;
    border: none;
    border-radius: 17px;
    background: #E8B0A2;
    box-shadow: inset 10px 10px 20px #d3a093,
        inset -10px -10px 20px #fdc0b1;
}

.wrap1 select {
    outline: none;
    color: #ffff;
    padding: 5px;
    transition: all ease-in-out .2s;
    border: none;
    border-radius: 17px;
    background: #E8B0A2;
    box-shadow: inset 10px 10px 20px #d3a093,
        inset -10px -10px 20px #fdc0b1;
}

.wrap2 select::-webkit-scrollbar {
    width: 0.5em;
}

.wrap2 select::-webkit-scrollbar-track {
    background: #f1efef;
}

.wrap2 select::-webkit-scrollbar-thumb {
    background: #97ADE8;
}

.containerDogs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 96%;
    gap: 40px;
    margin: 250px auto 0 auto;
    justify-content: center;
}

.homeLoader img{
    max-height: 430px;
}

.home404{
    margin: 200px 0px;
    color: #97ADE8;
}

.footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 80px;
    background: #E8B0A2;
}

.footer li {
    color: white;
    display: inline-block;
    margin-left: 30px;
}

.footer .credits {
    text-align: center;
    position: relative;
    top: 10px;
    margin-left: -100px;
}

.lau {
    color: white;
    text-decoration: none;
    position: relative;
    bottom: 5px;
    font-size: large;
}

.lau:hover {
    text-decoration: underline;
}

.pagination {
    position: absolute;
    display: flex;
    background: #E8B0A2;
    border: none;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    justify-content: center;
    left: 44.8%;
    align-items: center;
    margin-top: 60px;
}

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    background: #f1efef;
}

body::-webkit-scrollbar-thumb {
    background: #97ADE8;
}

.dogs {
    display: flex;
}

/*-------------------------RESPONSIVE--------------*/

@media (min-width: 441px) and (max-width: 550px) {
    .containerDogs {
        margin-top: 260px
    }

    .nav {
        height: 200px;
    }

    .ordFilter {
        margin: 10px 0 0 96px;
    }

    .links {
        margin: 30px 0 0 50px;
    }

    .rightNav {
        float: none;
        margin: 25px 0 0 93px;
    }

    .footer li {
        margin-left: 15px;
    }
}

@media (min-width: 551px) and (max-width: 650px) {
    .links {
        margin-top: 30px;
        margin-left: 16%;
    }

    .ordFilter {
        margin-top: 15px;
        margin-left: 23%;
    }

    .rightNav {
        float: none;
        margin-left: 23%;
        margin-top: 30px;
    }
}

@media (min-width: 651px) and (max-width: 900px) {
    .links {
        margin-top: 30px;
        margin-left: 26%;
    }

    .ordFilter {
        margin-top: 15px;
        margin-left: 31%;
    }

    .rightNav {
        float: none;
        margin-left: 30%;
        margin-top: 15px;
    }
}

@media (min-width: 351px) and (max-width: 440px) {
    html {
        width: 100%;
    }

    .footer li {
        margin: 0px 0px 0px 0px;
    }

    .footer .credits{
        margin-left: -35px;
    }

    .nav {
        height: 250px;
        width: 100%
    }

    .links {
        margin: 30px 10% 0px 10%;
    }

    .links li {
        margin: 0px 6px 0px 6px;
    }

    .links ul {
        padding: 0px;
        text-align: center;
    }
    
    .rightNav {
        float: none;
        margin: 0px 0px 0px 0px;
    }

    .homeRnd {
        position: relative;
        margin: 0px 0px 0px 0px;
        top: 55px;
        left: 37%;
    }

    .search {
        position: relative;
        margin: 30px 2% 0px -10%;
    }

    .ordFilter {
        margin: 20px 2% 0px 2%;
    }

    .containerDogs {
        margin-top: 300px
    }
}

@media screen and (max-width: 350px) {
    html {
        width: 100%;
    }

    .home {
        width: 350px
    }

    .nav {
        height: 250px;
        width: 100%
    }

    .links {
        margin: 30px 0px 0px 30px;
    }

    .links li {
        margin-left: 12px;
    }

    .links ul {
        padding: 0px;
    }

    .containerDogs {
        margin-top: 300px
    }

    .rightNav {
        float: none;
        margin: 0px 0px 0px 0px;
    }

    .homeRnd {
        position: relative;
        margin: 0px 0px 0px 0px;
        top: 75px;
        left: 37%;
    }

    .search {
        margin-left: 50px;
    }

    .ordFilter {
        margin: 20px 0px 0px 0px;
    }

    .footer li {
        margin: 0px 0px 0px 0px;
    }

    .footer .credits{
        margin-left: -38px;
    }

}